
body {
    background-color: $body;
    color: $black;

    h1
        {
        color: $title;
        text-align: center;

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $black;
            text-align: center;
        }
    }
}
